.modal-fader {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 99998;
	background: rgba(0,0,0,0.5);
}

.modal-window {
    display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	font-family: sans-serif;
	top: 50px;
	min-width: 25%;
}

.modal-window h1,
.modal-window h2,
.modal-window h3,
.modal-window h4,
.modal-window h5,
.modal-window h6 {
	margin: 0;
}

.modal-title {
	border-bottom: solid;
	border-color: #8732a8;
	font-size: larger;
	font-family: sans-serif;
	font-weight: bold;
}

.modal-content {
	border: none;
	padding-top: 10px;
}

.modal-btn {
	background: #8732a8;
	border: none;
	color: #fff;
	padding: 5px 10px;
	min-width: 20px;
	box-shadow: none;
	border-radius: 3px;
	text-decoration: none;
}
